*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/*container */
.container{
    height: auto;
    text-align: center;
}
a{
    text-decoration:none;
}
ul{
    list-style-type: none;
}
.bold{
    font-weight: bolder;
    color:#000;
    word-spacing: 2px;
}

/*header*/
header{
    background-color: #A0E7E5;
    min-height: 10vh;
    padding-top:1rem;
    padding-left: 1rem;
    font-size: 20px;
    text-transform: uppercase;
    transition:all .3s;
    display: flex;
    justify-content: space-around;
}
header h3{
    cursor: pointer;
}
/*burger*/
#burger{
   width:50px;
   cursor: pointer;
}
#burger .line{
    width:30px;
    height: 3px;
    margin-top: 5px;
    background-color:#fff;
}
#burger:hover{
    opacity: .6;
}
/*nav*/
nav{
    background-color:#A0E7E5 ;
    margin-top: 1rem;
    min-height: 90vh;
    width:200px;
    position: fixed;
    top: 45px;
    right: 0;   
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 7;
    transform: translateX(100%);
    transition: all 0.5s;
}
.nav-active{
    transform:translateX(0%);
}
nav li{
    transition:all .3s;
}
nav li a{
    color: #333;
    transition: color 0.3s;
}
nav li a:hover{
    color: #000;
}
nav li:hover{
    border-bottom: 2px solid #eaeaea;
}
/* main */

main{
    width:800px;
    height: 90vh;
    text-align: center;
    margin-left: 200px;
    padding:3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}   
/* main img */
 main .image{
    width:100%;
    height: 100%;
    background-color: #fff;
    background-image: url(img/software-image.jpg);
    background-size: cover;
    background-position: center;
}
/* main section-a content*/

main .content{
    position:absolute;
    color: rgba(0, 0,0,0.8);
    font-size:18px;
    text-transform: capitalize;
    text-align: left;
}

main .content p{
    padding-right: 20rem;
    padding-left: 2rem;
    line-height: 1.5;
}

main .content button{
    margin-left:2rem;
    margin-top:3rem;
    padding:1rem 1.6rem;
    background-color: #A0E7E5;
    color: rgba(0, 0, 0, .6);
    border:none;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 2px 5px rgba(0, 0,0,.5);
    transition: all .3s;
}
main .content button:hover{
   background-color: violet;
   color:#eaeaea;
}